/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat 12, 1fr;
  gap: 30px;
  max-width: 1400px;
}

.center {
  margin: 0 auto;
  max-width: 1400px;
}

body {
  font-family: sans-serif;
  line-height: 1.5em;
  scroll-behavior: smooth;
  background-color: rgba(0, 0, 0, 0.874);
  color: white;
  overflow: clip;
}

.bick-wrapper {
  width: 300px;
  height: 80vh;
  background-color: rgb(19, 19, 19);
  margin: 0 auto;
  box-shadow: 0 0 15px rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.bick-wrapper .brick {
  height: 20px;
  background-color: red;
  width: 250px;
}
.bick-wrapper .brick.swipe {
  animation: swiper 3s linear infinite;
}

@keyframes swiper {
  0% {
    transform: translateX(-120%);
  }
  50% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(-120%);
  }
}
.action-button {
  margin: 50px auto 0 auto;
  width: fit-content;
  background-color: rgb(13, 80, 102);
  padding: 10px 20px;
  border-radius: 15px;
  letter-spacing: 2px;
  cursor: pointer;
}
