/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat 12, 1fr;
  gap: 30px;
  max-width: 1400px;
}

.center {
  margin: 0 auto;
  max-width: 1400px;
}

body {
  font-family: sans-serif;
  line-height: 1.5em;
  scroll-behavior: smooth;
  background-color: rgba(0, 0, 0, 0.874);
  color: white;
}

.bick-wrapper {
  width: 300px;
  height: 80vh;
  margin: 0 auto;
  position: relative;
}
.bick-wrapper .brick {
  height: 20px;
  background-color: red;
  width: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.bick-wrapper .brick.swipe {
  animation: swiper 3s linear infinite;
}

@keyframes swiper {
  0% {
    transform: translateX(-120%);
  }
  50% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(-120%);
  }
}
.action-button {
  margin: 30px auto 0 auto;
  width: fit-content;
  background-color: rgb(13, 80, 102);
  padding: 10px 20px;
  border-radius: 15px;
  letter-spacing: 2px;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 200%;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.9s ease-in-out;
}
.modal.active {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(12px);
}
.modal h2 {
  font-size: 2rem;
  letter-spacing: 3px;
  color: red;
}
.modal p {
  margin: 20px auto;
  font-size: 1.2rem;
  letter-spacing: 3px;
}

.round-label {
  position: fixed;
  right: 30px;
  top: 30px;
  font-size: 2rem;
  letter-spacing: 2px;
}
